<body>
    <div>
  <a href="/rock">
    Play Rock
  </a>
</div>

<div>
  <a href="/paper">
    Play Paper
  </a>
</div>

<div>
  <a href="/scissors">
    Play Scissors
  </a>
</div>

<h1> We played paper! </h2>

<h1> They played <%= @random_move %>! </h1>

<h1> We <%= @wincon %>! </h1>
